// Navigation Styles here

nav {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

nav section {
    width: 30%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    margin-right: 5%;
}

section a {
    // margin-right: 5%;
    text-decoration: none;
    color: black;
}